/*обнуление*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img {
	vertical-align: top;
}/**/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
	line-height: 1;
	height: 100%;
	font-size: 16px;
	color: #FFF;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body._lock {
	overflow: hidden;

}.wrpaper{
	min-height: 100%;
	overflow: hidden;
}


.page{
	padding: 90px 0px 30px 0px;
}
.page__section{
	padding: 30px;
	max-width: 1200px;
	margin: 0px auto;
}
.page__section_1,.page__section_4,.page__section_7,.page__section_10{
	background-color: #CCCCFF;/*794f45*/
	color: #5e5373;
}
.page__section_2,.page__section_5,.page__section_8,.page__section_11{
	background-color: #77608d;
	color: #CCCCCF;
}
.page__section_3,.page__section_6,.page__section_9{
	background-color: #7a956b;
}
.page__title{
	font-size: 40px;
	margin: 0px 0px 20px 0px;
	color: #CCCCFF;
	background-color: #5e5373;
}
/*.page__sub-title{
	font-size: 40px;
	margin: 0px 0px 20px 0px;
	color: #5e5373;
}*/
.page__text{
	font-size: 18px;
	line-height: 140%;
/*	width: 400px;
*/}
.page__text p{
	/*margin: 0px 0px 0px 0px;*/
}

.molitva{
	font-size: 30px;
	margin: 0px 0px 20px 0px;
	color: #CCCCFF;
	background-color: #5e5373;
}
.nazvanie{
	font-style: italic;
	background-color: #5e5373;
	margin: 20px 0px 5px 0px;
	/*padding: 20px 0px 0px 0px;*/
	color: #CCCCFF;
}
.poysnenie{
	font-size: 16px;
	font-style: italic;
	background-color: #5e5373;
	margin: 0px 0px 0px 5px;
	color: #CCCCFF;
}
.pripev{
margin: 15px 0px 5px 0px;
}
.slin,
.trik{
margin: 15px 0px 0px 0px;
}
.page__sub-title {
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}

/*!!!!!!!!!!!!!!*/
.slick-list {
    overflow: hidden;
}
.slick-track {

    display: flex;
}
/*!!!!!!!!!!!!!!*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #5e5373;
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
	position: relative;
	z-index: 5;
	width: 40px;
	height: 40px;
}
.header__logo img{
	max-width: 40px;
	max-height: 40px;
	border-radius: 50% 50% 0 0;
}
.header__menu{
	margin: 0px 0px 0px 0px;

}


.menu__icon {
	display: none;
}




.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}
.menu__link {
	color: #CCCCFF;
	font-size: 18px;
}
.menu__link:hover {
	text-decoration: underline;
	color: #fff;
}
.menu__sub-list {
	position: absolute;
	top: 100% ;
	right: 0;
	background-color: #77608d;
	padding: 10px;
	min-width: 180px;
}
.menu__sub-list li {
	margin:  0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
	margin: 0;
}
.menu__sub-link {
	color: #CCCCFF;
}
.menu__sub-link:hover {
	text-decoration: underline;
	color: #fff;
}
/*-------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow{
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}
/*-------------------------*/
.vdwrapper{
	min-height: 30vh;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}
.vd{

}
.vd__item{
	width: 400px;
	align: right;
}
.school{
	align-items: center;
	font-size: 30px;
}

@media (min-width: 767px){
/*	.menu__body{display: none;
	}
*/	.school{
		align-items: center;
		font-size: 30px;
	}
	.menu__list{
		display: flex;
		align-items: center;
	}
	.menu__list > li{
		padding: 10px 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 767px){
	.page img{
		padding: 30px 30px 30px 30px;
/*		max-width: 100%;
*/	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}
	.menu__icon::before{
		top: 0;
	}
	.menu__icon::after{
		bottom: 0;
	}
	.menu__icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);

	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(2px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(1px, -50%);
	}
	.menu__body	{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}/**/
	.menu__body::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left:0;
		height: 70px;
		background-color: #5e5373;
		z-index: 2;
	}
	.menu__list > li{
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child{
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}

	.menu__link {
		color: #CCCCFF;
		font-size: 30px;
	}
	.menu__sub-list {
		position: relative;
		background-color: rgba(94, 83, 115, 0.9);
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu__sub-link {
		font-size: 24px;
		color: #CCCCFF;
		background-color: rgba(94, 83, 115, 0);
		padding: 0px 0px 0px 30px;
	}
}
