/*обнуление*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img {
	vertical-align: top;
}/**/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
	line-height: 1;
	height: 100%;
	font-size: 16px;
	color: #FFF;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.slick-slider {
/*    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
*/}
.slick-list {
 /*   position: relative;*/
    overflow: hidden;
   /* display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }*/

/*    &.dragging {
        cursor: pointer;
        cursor: hand;
    }*/
}
.slick-slider .slick-track,
.slick-slider .slick-list {
/*    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
*/}

.slick-track {
/*    position: relative;
    left: 0;
    top: 0;
*/    display: flex/*block*/;
/*    margin-left: auto;
    margin-right: auto;
*/
/*    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
*/}
.slick-slide {
/*    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
*/}
.slick-arrow.slick-hidden {
/*    display: none;
*/}

.slider{
	position: relative;
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0px;
	width: 50px;
	height: 40px;
}

.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/arrow/arrow_left3.png') 0 0 / 100% no-repeat;
	opacity: 0.4;
}
.slider .slick-arrow.slick-prev:hover{
	opacity: 1;
}
.slider .slick-arrow.slick-next:hover{
	opacity: 1;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/arrow/arrow_right3.png') 0 0 / 100% no-repeat;
	opacity: 0.4;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}
.slider__item {
/*	opacity: 0.4;
	text-align: center;transition: all 0.3s ease 0s;
*/
}
.slider__item img{

	width: 300px;
	height: 200px;
	border: 1px solid #fff;
/*	opacity: 0.4;
	text-align: center;transition: all 0.3s ease 0s;
*/
}
.slider__item.slick-center{
/*	opacity: 1;
*/}
